html, body {
	background: #fff2e7;
	font-family: 'Agency FB Bold', Helvetica, Arial, sans-serif;
	font-style: italic;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;

}

footer a {
	color: #777;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

footer a:visited {
	font-style: normal;
}

footer p {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 0.8em;
	text-align: center;
}

.box {
	background: #4b4d52;
	border-radius: 0.8em;
	color: #d0cabf;
	padding: 4ex;
	width: 60ex;
	margin: 4% auto 0 auto;
	-moz-border-radius: 0.8em;
	position: relative;
	-webkit-border-radius: 0.8em;
}

.box a:link {
	color: #fff;
	border-bottom: none;
	text-decoration: none;
}

.box a:hover {
	color: #fff;
	border-bottom: solid 3px #fc0c18;
}

.box a:visited {
	color: #fff;
}

.box button {
	background: #fc0c18;
	border: 0;
	box-shadow: 1px 1px 3px #222;
	color: #fff2e7;
	cursor: pointer;
	font-family: 'Agency FB Bold', Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-style: italic;
	margin-top: 0.5em;
	-moz-box-shadow: 1px 1px 3px #222;
	padding: 10px 20px;
	-webkit-box-shadow: 1px 1px 3px #222;
	width: 75%;
}

.box h1 {
	color: #fff;
	font-size: 2em;
	text-align: center;
}

.box h2 {
	color: #fff;
	font-size: 2em;
	padding-top: 0.1em;
}

.logo img {
	height: 3em;
	position: absolute;
	right: 2ex;
	top: 1em;
}

.box input {
	background: #fff2e7;
	border: 0;
	box-shadow: 0 1px 0 #444;
	color: #4b4d52;
	font-family: 'Agency FB Bold', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-style: normal;
	letter-spacing: 2px;
	margin-top: 0.3em;
	-moz-box-shadow: 0 1px 0 #444;
	outline: none;
	padding: 0.2em 0.5ex;
	-webkit-box-shadow: 0 1px 0 #444;
	width: 75%;
}

.box label {
	display: block;
	font-size: 1.2em;
}

.ip input {
	width: 5ex;
	margin-left: 5px;
	margin-right: 5px;
}

.logout {
	margin-top: -1.5em;
}

.box a:hover {
	color: #fff;
	border-bottom: solid 1px #fc0c18;
}

.remid input {
	width: 5ex;
	margin: 0;
}

@font-face{
	font-family: 'Agency FB Bold';
	src: url('font/agency_fb_bold.eot');
	src: url('font/agency_fb_bold.eot?#iefix') format('eot'),
	url('font/agency_fb_bold.woff') format('woff'),
	url('font/agency_fb_bold.ttf') format('truetype'),
	url('font/agency_fb_bold.svg#webfontk1DRByuk') format('svg');

	font-style: normal;
	font-weight: normal;
}

@media screen and (max-width: 430px) {
	body {
		font-size: 11px;
	}

	button, input, select, textarea {
		font-size: 11px;
	}

	.box {
		margin: 10px;
		width: auto;
	}

	.box button {
		width: 100%;
	}

	.box input {
		width: 95%;
	}

	.ip input {
		width: 4ex;
	}

	.remid input {
		width: 4ex;
	}
}
